[MASTER]

extension-pkg-allow-list=netifaces

[MESSAGES CONTROL]
enable=W,E,R,F,C

disable=C0114,
        missing-module-docstring,
        xmissing-function-docstring,
        missing-class-docstring,
        line-too-long

[BASIC]

good-names=i,
           j,
           k,
           fd,
           ex,
           Run,
           ip,
