

[MESSAGES CONTROL]

disable=missing-dfunction-docstring,
        missing-module-docstring,
        missing-class-docstring,
        line-too-long

[BASIC]

good-names=i,
           j,
           k,
           fd,
           ex,
           Run,
           ip,
