#
# this is the config test program
# 220402 PLH    First version
#

[Unit]
Description=Danwand Config Test 
Documentation=http://doc.danbots.com/mode/config.html
After=network.target
StartLimitIntervalSec=30

#Requires=basic.target
#Requires=hostapd.service
#Requires=hostapd.service dnsmasq.service
#Conflicts=resque.service resque.target dhcpcd.service wpa_supplicant.service
#Requires=basic.target
#Wants=
#After=basic.target rescue.service rescue.target
#AllowIsolate=yes
#Type=forking
#ExecStart=/home/pi/device_setup/bin/danwand_config 
#Restart=always

[Service]
Type=simple
Restart=always
RestartSec=10
User=pi
Environment=PYTHONUNBUFFERED=1
StandardOutput=append:/var/log/config_service.log
ExecStart=/home/pi/device_setup/bin/danwand_config  
WorkingDirectory=/tmp

