#
# this is the config mode for danwand
#
# 220402 PLH    First version
#

[Unit]
Description=Danwand Config Mode
Documentation=http://doc.danbots.com/mode/config.html
Requires=basic.target
Requires=hostapd.service
#Requires=hostapd.service dnsmasq.service
Conflicts=resque.service resque.target dhcpcd.service wpa_supplicant.service
#Requires=basic.target
#Wants=
After=basic.target rescue.service rescue.target
#AllowIsolate=yes
#Type=forking
#ExecStart=/usr/sbin/dbcpcd -b -q -f /etc/dhcpcd-danwand.conf 
#Restart=always

